<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Caglayan Caliskan</title>
  </head>
  <body>
    <div class="layout">
      <main>
        <h1>Caglayan Caliskan</h1>
        <p><i>Frontend Developer &bull; Engineer</i></p>
        <div class="social">
          <a href="https://twitter.com/Fastnvy" target="_blank">
            <i class="fa-brands fa-twitter fa-xl"></i>
          </a>

          <a href="https://github.com/CaglayanCaliskan" target="_blank"
            ><i class="fa-brands fa-github fa-xl"></i
          ></a>

          <a
            href="https://www.linkedin.com/in/caglayan-caliskan/"
            target="_blank"
            ><i class="fa-brands fa-linkedin fa-xl"></i
          ></a>
        </div>
      </main>
    </div>
    <div class="carousel">
      <img src="../static/images/bg.jpg" alt="" />
      <img src="../static/images/bg.jpg" alt="" />
      <img src="../static/images/bg.jpg" alt="" />
    </div>

    <script src="../static/js/app.js"></script>
  </body>
</html>
